@inherits LayoutComponentBase

<div class="esports-app">
    <NavMenu />

    <main class="esports-main">
        @Body
    </main>

    <footer class="footer-esports mt-5">
        <span>© 2026 <span class="neon-text-green">NEXDRIVE</span> 車輛租用系統 | MVP v1.0</span>
    </footer>
</div>

