@inject VehicleRental.Wasm.Auth.BrowserAuthenticationStateProvider AuthService
@inject NavigationManager Nav

<nav class="navbar navbar-expand-lg navbar-esports sticky-top">
    <div class="container-xl">
        <a class="navbar-brand-esports" href="">&#9889; NEXDRIVE</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMain">
            <ul class="navbar-nav ms-auto align-items-lg-center gap-lg-1">
                <AuthorizeView>
                    <Authorized>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="vehicles">租車</NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="reservation/my">我的預約</NavLink>
                        </li>
                        <li class="nav-item ms-lg-2">
                            <span class="nav-link esports-username">@context.User.Identity?.Name</span>
                        </li>
                        <li class="nav-item">
                            <button class="btn-esports btn-esports-sm btn-esports-danger ms-1" @onclick="Logout">登出</button>
                        </li>
                    </Authorized>
                    <NotAuthorized>
                        <li class="nav-item ms-lg-1">
                            <NavLink class="btn-esports hero-cta" href="login">登入</NavLink>
                        </li>
                        <li class="nav-item ms-lg-1">
                            <NavLink class="btn-esports btn-esports-purple hero-cta" href="register">立即註冊</NavLink>
                        </li>
                    </NotAuthorized>
                </AuthorizeView>
            </ul>
        </div>
    </div>
</nav>

@code {
    private async Task Logout()
    {
        await AuthService.LogoutAsync();
        Nav.NavigateTo("login", forceLoad: false);
    }
}

